{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
<!-- banner section start-->
<section class="banner-section  pt-120 pb-120">
    <div class="container mt-lg-0 pt-18 pt-xl-20">
        <div class="row">
            <div class="col-12 breadcrumb-area ">
                <h2 class="mb-4">About Us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'interface-home' %}">Home</a></li>
                        <li class="breadcrumb-item ms-2 ps-7 active" aria-current="page"><span>About Us</span></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->

<!-- Company Story start-->
<section class="company-story position-relative z-0  pt-120 pb-120 ">
    <div class="animation position-absolute w-100 h-100 z-n1">
        <img src="{% static 'assets/images/star3.png' %}" alt="vector"
            class="position-absolute top-0 end-0 pt-10 pe-20 me-20 d-none d-xxl-flex previewSkew">
    </div>
    <div class="container">
        <div class="row gy-15 gy-lg-0 justify-content-center align-items-center">
            <div class="col-sm-10 col-lg-6 col-xxl-5 order-2 order-lg-0">
                <div class="company-story__thumbs d-center">
                    <img src="{% static 'assets/images/company_story.png' %}" class="cus-rounded-1 w-100" alt="Imgae">
                    <a href="https://www.youtube.com/watch?v=BHACKCNDMW8"
                        class="popup-video btn-popup-animation position-absolute d-center rounded-circle">
                        <i class="fa-solid fa-play fs-four"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-7">
                <div class="row ms-xl-3 ms-xxl-10">
                    <div class="col-xxl-6">
                        <div class="company-story__part">
                            <span class="heading p1-color fs-five">Our Company Story</span>
                            <h3 class="mb-3 mt-5">What We Do</h3>
                            <p>Axeria-Re is a cutting-edge trading platform that allows users to invest in both stocks
                                and cryptocurrencies by copying the strategies of expert traders. Our platform offers an
                                easy-to-use interface, making it accessible for beginners while providing powerful tools
                                for experienced traders. By following top-tier traders in real-time, users can mirror
                                their trades and grow their wealth without needing to actively manage their portfolios.
                                We prioritize security with advanced encryption to protect your data, ensuring a safe
                                and reliable trading experience. Whether you're new to investing or a seasoned pro,
                                Axeria-Re simplifies the process of growing your investments through expert-led
                                strategies.</p>
                        </div>
                    </div>
                    <div class="col-xxl-12 mt-8 mt-md-10 mt-xxl-13">
                        <div class="company-story__part d-flex align-items-sm-center flex-column flex-sm-row">
                            <div class="btn-area mt-8 mt-sm-0 me-2 me-sm-6 me-xxl-10 order-2 order-sm-0">
                                <a href="signup.html" class="cmn-btn cmn-btn-circle d-center flex-column fw_500">
                                    <i class="ti ti-arrow-up-right fs-three"></i>
                                    Start Now
                                </a>
                            </div>
                            <div class="content">
                                <h3 class="mb-3">Who We Are</h3>
                                <p>Welcome to Axeria-Re, where innovation meets simplicity in the world of online
                                    trading. We are a forward-thinking, cutting-edge startup on a mission to transform
                                    the way people invest, trade, and grow their wealth. Whether you're an experienced
                                    trader or just getting started, Axeria-Re provides an intuitive and seamless
                                    platform to help you navigate the fast-paced world of financial markets. We are here
                                    to make it easier for everyone to access expert trading strategies, copy successful
                                    trades, and explore both stocks and crypto investments.

                                </p>
                                <p>At Axeria-Re, we believe that the future of trading lies in accessibility and
                                    collaboration. Our platform offers unparalleled opportunities for individuals of all
                                    skill levels to tap into the expertise of professional traders while maintaining
                                    complete control over their financial journey. We aim to bridge the gap between
                                    novice traders and seasoned market experts, creating an ecosystem that is both
                                    welcoming and professional.
                                    A New Era of Copy Trading


                                </p>

                                <p> Copy trading is rapidly gaining popularity as a strategy that allows everyday
                                    investors to take advantage of the skills and experience of professional traders. At
                                    Axeria-Re, we have built a unique platform that not only facilitates copy trading
                                    but also enhances the overall trading experience. Our vision is to provide access to
                                    a diverse range of expert traders, each with their own tried-and-true strategies in
                                    both stock and cryptocurrency markets.

                                </p>
                                <p> The core of our service lies in empowering you to copy the trades of successful
                                    professionals. This means that instead of spending years learning the intricacies of
                                    trading or managing your portfolio 24/7, you can tap into the strategies of experts
                                    who have already proven themselves in the markets. By mimicking their moves, you can
                                    unlock new opportunities for growth and gain exposure to various trading strategies
                                    that you might not have otherwise considered.

                                </p>

                                <p>
                                    Whether you're looking to grow your portfolio in traditional stocks or exploring the
                                    high-potential world of cryptocurrencies, Axeria-Re's copy trading platform is
                                    designed to make your trading journey smoother and more successful.
                                    Simplified User Interface: Easy for Beginners, Powerful for Pros

                                </p>

                                <p>
                                    We understand that the world of trading can seem overwhelming, especially for
                                    beginners. That's why we have designed Axeria-Re with simplicity in mind. Our user
                                    interface is clean, intuitive, and easy to navigate, ensuring that both new users
                                    and experienced traders can jump into the platform without confusion. You won't find
                                    any unnecessary complexities here—just straightforward tools and features that allow
                                    you to focus on what matters most: your investments.
                                </p>
                                <p>
                                    For beginners, this simplicity means that you can start your trading journey quickly
                                    and with confidence. You don't need to be a financial expert to use our platform.
                                    With just a few clicks, you can begin following expert traders, watching your
                                    investments grow, and learning about different strategies in real-time.

                                    For professional traders and experienced investors, Axeria-Re's interface is just as
                                    powerful. While we prioritize simplicity, we also offer advanced features and
                                    options that allow seasoned traders to fine-tune their experience and maximize the
                                    value they get from our platform. Whether you're managing a diverse portfolio of
                                    stocks and cryptocurrencies or looking for precise control over your trades,
                                    Axeria-Re has the tools you need.
                                    A Platform for Both Stocks and Cryptocurrencies

                                    At Axeria-Re, we believe in giving you the flexibility to diversify your
                                    investments. That's why we support both stock market trading and cryptocurrency
                                    investments. The rise of cryptocurrencies has created an entirely new world of
                                    opportunities, and we want to ensure our users have access to this exciting market
                                    as well as traditional stock investments.

                                    Stocks and crypto can be traded together on a single platform, making it easier to
                                    manage and balance your portfolio. Whether you're interested in the stability of
                                    long-established companies or the dynamic potential of digital assets, you can find
                                    opportunities to grow and diversify your wealth on Axeria-Re.

                                    Our expert traders on the platform are proficient in both markets, meaning that you
                                    can follow their strategies whether you're investing in the stock market or trading
                                    digital currencies like Bitcoin, Ethereum, or newer altcoins. This dual focus helps
                                    position Axeria-Re as a versatile platform that caters to a wide variety of
                                    investors, from those with a traditional stock mindset to those excited by the
                                    future of cryptocurrency.
                                    Access to Expert Traders: Copy Their Strategies, Grow Your Wealth

                                    One of the key features that sets Axeria-Re apart is our ability to connect you
                                    directly with top-tier traders. Rather than relying on generic financial advice or
                                    market predictions, you can follow the trading strategies of actual professionals
                                    who are actively managing portfolios and making informed decisions.

                                    The process is simple. You browse through a list of expert traders, each with a
                                    detailed profile showing their trade history, risk level, and performance. You can
                                    then choose which traders to follow, based on their track record and trading style.
                                    Once you’ve selected a trader, you can copy their trades in real-time—mirroring
                                    their buy and sell decisions with your own portfolio.

                                    This feature is perfect for individuals who are new to trading or simply want to
                                    take a hands-off approach to growing their wealth. Instead of spending hours
                                    studying market trends and analyzing data, you can let the experts do the hard work
                                    for you. All the while, you can learn by observing their strategies and decisions,
                                    which can help you improve your own trading skills over time.

                                    We believe that the best way to succeed in the financial markets is by leveraging
                                    the knowledge and expertise of others. Axeria-Re is designed to make this process
                                    seamless and easy, so that every user—regardless of experience—can benefit from
                                    professional trading strategies.
                                    A Fast-Growing Startup with Big Potential

                                    Though Axeria-Re is a startup, we are already experiencing rapid growth, and the
                                    future looks incredibly promising. Our platform is gaining traction among both new
                                    and experienced traders, who recognize the unique value we provide. The growing
                                    interest in copy trading, as well as the explosive rise of cryptocurrencies, places
                                    Axeria-Re at the forefront of the financial technology space.

                                    We are committed to continuous innovation, always seeking ways to improve and expand
                                    our platform. Our team is dedicated to refining our services, adding new features,
                                    and ensuring that we stay ahead of the curve in an ever-evolving market. As we
                                    continue to grow, our goal is to become the go-to platform for anyone looking to
                                    invest in stocks or cryptocurrencies, as well as anyone seeking to copy the
                                    strategies of seasoned traders.

                                    We are excited about the potential that lies ahead, not just for Axeria-Re, but for
                                    the entire copy trading industry. As more people discover the benefits of copy
                                    trading and the value of cryptocurrencies, we are confident that Axeria-Re will play
                                    a pivotal role in shaping the future of online trading.
                                    Our Commitment to Security and Professionalism

                                    At Axeria-Re, we understand that security is a top priority for any investor. We
                                    take extensive measures to protect your personal and financial information. Our
                                    platform uses the latest encryption technologies to ensure that your data remains
                                    safe and secure, and we follow industry best practices to guard against fraud and
                                    other threats.

                                    We also strive for professionalism in everything we do. From our user interface to
                                    our customer support, we are committed to providing a world-class experience for
                                    every user. Whether you're new to trading or a seasoned investor, you can trust
                                    Axeria-Re to provide a reliable, transparent, and professional platform to manage
                                    your investments.
                                    Why Choose Axeria-Re?


                                </p>

                                <p>
                                    Simplified User Experience: Easy-to-navigate interface designed for both beginners
                                    and experienced traders.
                                    Expert Traders: Access to a wide range of professionals to copy and learn from.
                                    Diverse Investment Opportunities: Invest in both stocks and cryptocurrencies from a
                                    single platform.
                                    Security First: Advanced security measures to keep your personal and financial data
                                    safe.
                                    Fast Growth and Innovation: A rapidly expanding platform with a focus on continuous
                                    improvement.



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Company Story end -->



<!--Our Mission start-->
<section class="provide-world our_mission pt-120 pb-120 position-relative z-0">
    <div class="animation position-absolute top-0 left-0 w-100 h-100 z-n1">
        <img src="{% static 'assets/images/vector7.png' %}" alt="vector"
            class="position-absolute bottom-0 pt-6 pt-xl-15 d-none d-lg-flex push_animat">
    </div>
    <div class="container">
        <div class="row justify-content-between align-items-center mb-10 mb-lg-15">
            <div class="col-xl-5">
                <span class="heading s1-color fs-five mb-5">Our Mission</span>
                <h3>Empowering Success How We're Making a Difference</h3>
            </div>
            <div class="col-xl-4">
                <p class="fs-six-up mx-ch text-xl-end mt-3 mt-xl-0">we believe that success is not reserved for the
                    privileged few. It's a journey that anyone can embark upon with right guidance</p>
            </div>
        </div>
        <div class="row gy-6 gy-xxl-0">
            <div class="col-md-6 col-xxl-4">
                <div class="provide-world__card nb3-bg text-center cus-rounded-1 py-5 py-lg-10 px-4 px-lg-9">
                    <span class="provide-card__icon d-center nb4-bg p-4 rounded-circle mx-auto">
                        <i class="ti ti-currency-dollar-brunei  fs-three p1-color"></i>
                    </span>
                    <h4 class="mt-5 mb-5">Client-first approach</h4>
                    <p>Transformed the trading landscape. Online trading platforms and mobile apps have made it easier
                        than ever for individuals</p>
                </div>
            </div>
            <div class="col-md-6 col-xxl-4">
                <div class="provide-world__card nb3-bg text-center cus-rounded-1 py-5 py-lg-10 px-4 px-lg-9">
                    <span class="provide-card__icon d-center nb4-bg p-4 rounded-circle mx-auto">
                        <i class="ti ti-brand-cakephp fs-three p1-color"></i>
                    </span>
                    <h4 class="mt-5 mb-5">Integrity and Compliance</h4>
                    <p>One of the fundamental principles of trading is risk management. Successful traders carefully
                        manage their capital,</p>
                </div>
            </div>
            <div class="col-md-6 col-xxl-4">
                <div class="provide-world__card nb3-bg text-center cus-rounded-1 py-5 py-lg-10 px-4 px-lg-9">
                    <span class="provide-card__icon d-center nb4-bg p-4 rounded-circle mx-auto">
                        <i class="ti ti-broadcast fs-three p1-color"></i>
                    </span>
                    <h4 class="mt-5 mb-5">Fast Execution</h4>
                    <p>Trading is not without its challenges, as markets can be highly volatile and unpredictable. It
                        requires discipline</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Mission end -->


<!-- team end -->

<!--Testimonial start-->
<section class="testimonial-secondary te pt-120 pb-120 position-relative z-0">
    <div class="animation position-absolute top-0 left-0 w-100 h-100 z-n1">
        <img src="{% static 'assets/images/icon/quote_bg.png' %}" alt="vector" class="position-absolute push_animat d-none d-md-flex">
        <img src="{% static 'assets/images/icon/quote_bg.png' %}" alt="vector" class="position-absolute push_animat d-none d-md-flex">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-7">
                <div class="heading__content mb-10 mb-lg-15 text-center">
                    <span class="heading fs-five s1-color mb-5">Testimonial</span>
                    <h3>What people say</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper testimonial_swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="col-lg-10 col-xl-8 col-xxl-6">
                                <div class="testimonial__par text-center">
                                    <div class="author_thumbs">
                                        <img src="{% static 'assets/images/author10.png' %}" alt="icon" class="rounded-circle">
                                    </div>
                                    <div class="author_content">
                                        <p class=" fs-six-up mt-5 mt-xxl-6">"Trading has always been a passion, but it
                                            wasn't the lessons I learned along the way have been embraced
                                            riskinvaluable.</p>
                                        <h5 class="heading p1-color mt-5">Christopher holmes</h5>
                                        <span class="fs-eight fw_500 mt-2">Marketing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
</section>
<!-- Testimonial end -->
{% endblock content %}