{% extends 'interface/main.html' %}
{% load static %}
{% block content %}
<section class="sign nb4-bg h-100 d-flex align-items-center position-relative z-0">
    <div class="animation position-absolute top-0 left-0 w-100 h-100 z-n1">
        <img src="{% static 'assets/images/star.png' %}" alt="vector" class="position-absolute push_animat">
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
                <div class="sign__content pt-120 pb-120">

                    <div class="head_part">
                        <a href="{% url 'interface-home' %}">
                            <img src="{% static 'assets/images/3.png' %}" width="240px" alt="Logo">
                        </a>

                        <h2 class="mt-6">Password Reset Successful ✅</h2>
                        <p class="mt-4 nw1-color">
                            Your password has been updated successfully. You can now log in.
                        </p>
                    </div>

                    <div class="mt-7">
                        <a href="{% url 'login' %}"
                           class="cmn-btn py-3 px-5 d-inline-flex align-items-center justify-content-center">
                            Login
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
