{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div id="appCapsule">
    <div class="container my-4 py-4">
        <h2>Active Trades Wallet</h2>
        <p>This shows your active copy trades</p>
        <div class="row">

            <!-- Card 1 -->
            {% for trade in copytrades %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <img src="{{ trade.trader.image.url }}" alt="Card image cap" width="120" class="img-fluid" />

                    <div class="card-body">
                        <h5 class="card-title">
                            {{ trade.trader.name }}
                            {% if trade.trader.verified %}
                                <i class='bx bxs-badge-check'></i>
                            {% endif %}
                        </h5>

                        <div class="mb-2">
                            <div>
                                <span class="badge bg-secondary">DURATION: {{ trade.trader.duration_weeks }} week(s)</span>
                                <span class="badge bg-secondary">AMOUNT COPYING: ${{ trade.amount_copying|intcomma }}</span>
                                <span class="badge bg-secondary">DAILY ROI: {{ trade.trader.daily_roi }}%</span>
                            </div>
                            <div style="text-align: center;">
                                <span class="badge bg-secondary">TRADE PROGRESS: {{ trade.current_profit }}%</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <div class="d-flex justify-content-between">
                                <span>Trade Duration:</span>
                                <span>{{ trade.trader.duration_weeks }} weeks</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span>Current Profit:</span>
                                <span>${{ trade.current_profit }}</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span>Opened Date:</span>
                                <span>{{ trade.opened_date }}</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span>Trading Fees:</span>
                                <span>{{ trade.trader.trading_fee_percentage }}% Net Profit</span>
                            </div>
                        </div>

                        <div class="load-wrapp">
                            <div class="trades-load-10">
                                <p>Copy Trade In Progress</p>
                                <div class="trades-bar"></div>
                            </div>
                        </div>

                        <button class="btn btn-primary w-100 mb-2"
                            data-bs-toggle="modal"
                            data-bs-target="#copy-trader-{{ trade.id }}">
                            Add More Funds
                        </button>

                        <button class="btn btn-danger w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#withdraw-modal-{{ trade.id }}">
                            Withdraw Funds
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% for trade in copytrades %}
<!-- Add More Funds Modal for Trader 184 -->
<div class="modal fade" id="copy-trader-{{trade.id}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">Top Trade Amount</h3>
                <button class="btn text-white" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <center>WALLET BALANCE: <br/><b>${{request.user.current_deposit|intcomma}}</b></center>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="trader_id" value="{{trade.id}}"/>
                    <div class="form-group my-4">
                        <label for="amount">Amount to Add:</label>
                        <input type="text" class="form-control" id="amount" name="top_amount"/>
                    </div>
                    <button class="btn btn-primary w-100" type="submit" name="top">Add to Trade</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for trade in copytrades %}
<!-- Withdraw Funds Modal for Trader 184 -->
<div class="modal fade" id="withdraw-modal-{{trade.id}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">Withdraw Funds from {{trade.trader.name|capfirst}}</h3>
                <button class="btn text-white" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <center>AVAILABLE BALANCE: <br/><b>${{trade.current_profit}}</b></center>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="trader_id" value="{{trade.trader.id}}"/>
                    <div class="form-group my-4">
                        <label for="withdraw_amount">Amount Available For Withdraw:</label>
                        <input type="number" class="form-control" id="withdraw_amount" name="withdraw_amount" style="background-color:black;color:white;"/>
                    </div>

                    <div class="withdrawprofit-form-group">
                        <label class="withdrawprofit-label">Currency</label>
                        <select class="withdrawprofit-select" name="currency" id="currency" required>
                            <option value="Bitcoin (BTC)">Bitcoin (BTC)</option>
                            <option value="Ethereum">Ethereum</option>
                            <option value="Binance Coin (BNB)">Binance coin (BNB)</option>
                            <option value="USDT (ERC 20)">USDT (ERC 20)</option>
                            <option value="USDT (TRC 20)">USDT (TRC 20)</option>
                            <option value="Solana">Solana</option>
                            <option value="Ripple">Ripple</option>
                        </select>
                    </div>
    
                    <div class="withdrawprofit-form-group">
                        <label class="withdrawprofit-label">Address</label>
                        <input type="text" class="withdrawprofit-input" name="address" id="address" placeholder="" required>
                    </div>

                    <button class="btn btn-danger w-100" type="submit" name="withdraw">Withdraw Funds</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}