{% extends 'manager/base.html' %}
{% load static %}
{% block content %}

<div class="col-12 mb-4">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Withdrawals</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Wallet Address</th>
                            <th>Total Amount</th>
                            <th>Fee Amount</th>
                            <th>Status</th>
                            <th>Approve</th>
                            <th>Decline</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Wallet Address</th>
                            <th>Total Amount</th>
                            <th>Fee Amount</th>
                            <th>Status</th>
                            <th>Approve</th>
                            <th>Decline</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for w in withdraws %}
                        <tr>
                            <td>{{w.user.first_name}} {{w.user.last_name}}</td>
                            <td>{{w.user.email}}</td>

                            <td>${{w.amount}} </td>
                            <td>{{w.name}}</td>
                            <td>{{w.wallet_address}}</td>
                            <td>${{w.available_for_withdraw}}</td>
                            <td>${{w.charges}}</td>
                            <td>{{w.status}}</td>
                            <td>
                              <button class="btn btn-primary" onclick="approveWithdrawal({{w.id}})"><i>&check;</i></button>
                            </td>
                            <td>
                              <button class="btn btn-danger" onclick="disapproveWithdrawal({{w.id}})"><i>&times;</i></button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<script>
  function approveWithdrawal(id) {
      swal('Approve withdrawal', 'Are you sure you want to approve this withdraw?', 'warning')
          .then((res) => {
              if (res) {

                  $.ajax({
                      type: 'POST',
                      url: "{% url 'approve_withdrawal' %}",
                      data: {
                          id: id,
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      success: function (data) {
                          if (data.status === "success") {

                              swal('Success', 'Payment approved successfully', 'success')
                                  .then(() => {
                                      location.reload();
                                  });

                          } else {
                              swal('Error', data.message, 'error');
                          }
                      }
                  });

              }
          });
  }

  function disapproveWithdrawal(id) {
      swal('Dispprove withdrawal', 'Are you sure you want to disapprove this withdraw?', 'warning')
          .then((res) => {
              if (res) {

                  $.ajax({
                      type: 'POST',
                      url: "{% url 'decline_withdrawal' %}",
                      data: {
                          id: id,
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      success: function (data) {
                          if (data.status === "success") {

                              swal('Success', 'Withdraw declined', 'success')
                                  .then(() => {
                                      location.reload();
                                  });

                          } else {
                              swal('Error', data.message, 'error');
                          }
                      }
                  });

              }
          });
  }
</script>
{% endblock %}